.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    margin: 30px;
}

.actionsWrapper {
    display: flex;
    gap: 20px;
}

.addUser {
    color: #4CAF50 !important;
    font-weight: 600 !important;
}